name: "Push Playit Binary to Cachix"
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "flake.lock"

jobs:
  upload-cachix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: playit-nixos-module
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix build .#playit-cli --accept-flake-config --print-out-paths
