name: "Push Playit Binary to Cachix"
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "flake.lock"

jobs:
  upload-cachix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: cachix/install-nix-action@a809471b5c7c913aa67bec8f459a11a0decc3fce # v31
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: playit-nixos-module
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix build .#playit-cli --accept-flake-config --print-out-paths
